<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {{> interfaceParts/bootstrapHeaderLinks}}
    {{> mapParts/mapHeaderLinksAndScripts}}
    <title>Couriers</title>
</head>
<body>
{{> interfaceParts/bootstrapNavBarWithSignBtn}}
<div class="container mt-5 ml-5">
    <h1>Couriers management page</h1>
</div>
<div class="container mt-5 ml-5">
    {{#filterCheck}}
    <div class="alert alert-danger" role="alert" style="width: 736px">
        {{filterCheck}}
    </div>
    {{/filterCheck}}
    <div class="form-row">
        <div class="form-group col-md-6">
            <form action="/couriersFilter" method="post" class="form-inline">
                <div class="form-group row">
                    <div>
                        <input type="text" name="courierId" class="form-control ml-3"
                               placeholder="Найти по ID..."/>
                    </div>
                    <div>
                        <input type="text" name="firstName" class="form-control ml-3"
                               placeholder="Найти по имени..."/>
                    </div>
                    <div>
                        <input type="text" name="lastName" class="form-control ml-3"
                               placeholder="Найти по фамилии..."/>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div>
                        <button type="submit" class="btn btn-primary ml-3">Найти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 ml-5">
    {{#deleteIdCheck}}
    <div class="alert alert-danger" role="alert" style="width: 305px">
        {{deleteIdCheck}}
    </div>
    {{/deleteIdCheck}}
    <div class="form-row">
        <div class="form-group col-md-6">
            <form action="/couriersDelete" method="post" class="form-inline">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" name="courierId" class="form-control" placeholder="Удалить по ID..."/>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit" class="btn btn-primary ml-3">Удалить</button>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 ml-5">
    {{#updateIdCheck}}
    <div class="alert alert-danger" role="alert" style="width: 589px">
        {{updateIdCheck}}
    </div>
    {{/updateIdCheck}}
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Открыть меню изменения информации о существующем в системе курьере
    </a>
    <div class="collapse" id="collapse1">
        <div class="form-group mt-3">
            <form action="/couriersUpdate" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="courierId"
                           placeholder="Введите ID курьера, информацию о котором нужно изменить..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="firstName" placeholder="Изменить имя курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastName" placeholder="Изменить фамилию курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Изменить e-mail курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phoneNumber"
                           placeholder="Изменить телефон курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="rating" placeholder="Изменить рейтинг курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="salary" placeholder="Изменить зарплату курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="hireDate"
                           placeholder="Изменить дату трудоустройства курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="premium"
                           placeholder="Изменить размер премии курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="departmentId"
                           placeholder="Изменить департамент курьера..."/>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 ml-5">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false"
       aria-controls="collapse2">
        Открыть меню добавления нового курьера в систему
    </a>
    <div class="collapse" id="collapse2">
        <div class="form-group mt-3">
            <form action="/couriers" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="firstName" placeholder="Введите имя курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastName" placeholder="Введите фамилию курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Введите e-mail курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phoneNumber"
                           placeholder="Введите телефон курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="rating" placeholder="Введите рейтинг курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="salary" placeholder="Введите зарплату курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="hireDate"
                           placeholder="Введите дату трудоустройства курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="premium"
                           placeholder="Введите размер премии курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="departmentId"
                           placeholder="Введите департамент курьера..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="latitude"
                           placeholder="Введите широту..."/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="longitude"
                           placeholder="Введите долготу..."/>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 ml-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Почта</th>
            <th scope="col">Сотовый</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Зарплата</th>
            <th scope="col">Трудоустроился</th>
            <th scope="col">Премия</th>
            <th scope="col">Департамент</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
        </tr>
        </thead>
        <tbody>
        {{#couriers}}
        <tr>
            <th scope="row">{{courierId}}</th>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
            <td>{{phoneNumber}}</td>
            <td>{{rating}}</td>
            <td>{{salary}}</td>
            <td>{{hireDate}}</td>
            <td>{{premium}}</td>
            <td>{{departmentId}}</td>
            <td>{{latitude}}</td>
            <td>{{longitude}}</td>
        </tr>
        {{/couriers}}
        {{^couriers}}
        <tr>
            <th scope="row">List of couriers is empty yet!</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{/couriers}}
        </tbody>
    </table>
</div>
<div class="container mt-5 ml-5">
    <h2>Delivery map</h2>
</div>
<div class="container mt-5 ml-5">
    <div id="map" class="map" style="width: 1110px; height: 600px"></div>
    {{> mapParts/mapScriptsSources}}
</div>
<div class="container mt-5 ml-5">
    <div class="form-group row">
        <!--<form action="/couriersCoordinates" method="get">
            <div>
                <button type="submit" class="btn btn-primary ml-5">Тест данных курьеров</button>
            </div>
        </form>-->
        <div>
            <button id="couriersCoordinates" class="btn btn-primary ml-3">Отобразить курьера на карте</button>
        </div>
        <!--<form action="/deliveryCoordinates" method="get">
            <div>
                <button type="submit" class="btn btn-primary ml-5">Тест данных деталей</button>
            </div>
        </form>-->
        <div>
            <button id="deliveryCoordinates" class="btn btn-primary ml-5">Отобразить точку доставки на карте</button>
        </div>
    </div>
</div>
<p class="text-center mt-4">Delivery Service. 2019</p>
{{> interfaceParts/bootstrapFooterScripts}}
</body>
</html>