<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {{> interfaceParts/bootstrapHeaderLinks}}
    <title>Home</title>
</head>
<body>
{{> interfaceParts/bootstrapNavBar}}
<!--<div class="container mt-5 ml-5">
    <h1>Welcome to our delivery service!</h1>
    <p>To start using the delivery service you must
        <a href="/login">Sign In</a> or <a href="/registration">Sign Up</a></p>
</div>-->
<!--<div class="jumbotron card card-image" style="width:100%; height:100%; background-image: url(https://images.wallpaperscraft.ru/image/doroga_noch_svet_125999_1920x1080.jpg);">
    <div class="text-white text-center py-5 px-4">
        <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Welcome to our delivery service!</strong></h2>
            <p class="mx-5 mb-5">To start using the delivery service you must
                <a href="/login">Sign In</a> or <a href="/registration">Sign Up</a></p>
            <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a>
        </div>
    </div>
</div>-->
<div class="view">
    <img src="https://images.wallpaperscraft.ru/image/doroga_noch_svet_125999_1920x1080.jpg" class="img-fluid"
         alt="" style="width: 100%; height: 100%">
    <div class="mask pattern-1 flex-center waves-effect waves-light">
        <h1><p class="white-text">Welcome to our delivery service!</p></h1>
    </div>
</div>
{{> interfaceParts/bootstrapFooterScripts}}
</body>
</html>