<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{> parts/headerLinks}}
    <title>Order details</title>
</head>
<body>
{{> parts/navBarWithSignBtn}}
<div class="container mt-5 ml-5">
    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="post" action="orderDetailsFilter" class="form-inline">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" name="address" class="form-control" placeholder="Найти по адресу..."/>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit" class="btn btn-primary ml-2">Найти</button>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 ml-5">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Добавить детальную информацию о заказе
    </a>
    <div class="collapse" id="collapseExample">
        <div class="form-group mt-3">
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="orderDate" placeholder="Введите дату доставки"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="orderAddress" placeholder="Введите адрес доставки"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="comment" placeholder="Введите комментарий"/>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 ml-5">
    <div class="card-columns">
        {{#orderDetails}}
        <div class="card my-3" style="width:600px">
            <div class="card-footer text-muted">
                <span>ID: {{id}}</span>
            </div>
            <div class="container ml-1">
                <span><b>Дата доставки:</b> {{orderDate}}<br/></span>
                <span><b>Адрес доставки:</b> {{orderAddress}}<br/></span>
                <span><b>Комментарий:</b> {{comment}}<br/></span>
            </div>
        </div>
        {{/orderDetails}}
    </div>
</div>
{{> parts/footerScripts}}
</body>
</html>